.c {
  position: absolute;
  max-width: 500px;
  max-height: 500px;
  width: 350px;
  height: 200px;
  cursor: pointer;
  will-change: transform, opacity;
}

.front,
.back {
  background-size: cover;
}

.back {
  background-image: url("./assets/fatayertop.png");
}

.front {
  background-image: url("./assets/fatayertop.png");
}

.upgrades {
  background-image: url("./assets/stonepattern.jpg");
}

.achievements {
  background-image: url("./assets/stonepattern.jpg");
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}
